#scratch-img, #scratch-canvas { display:none }
#font-canvas {
  width:100%;
  height:100%;
  background-color:transparent;
  transform:scaleY(-1);
  filter:invert(1); /* #777 gridlines after color inversion */
}
input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #777;
  border-radius: 9999px;
  margin-bottom: 10px;
  background-color: transparent;
}
input:focus {
  outline-color: #aaa;
}
.selector-container {
  width: 100%;
  overflow-y: auto;
  background: transparent;
}
.selector-item {
  color: #777;
  font-size: .8rem;
  padding: 0;
  line-height: 48px; /* Matches font tool grid spacing for consistency (with border-bottom) */
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #777;
}
.selector-container .selector-item:last-child {
  border-bottom: none;
}
.selected {
  background-color: #777;
  color: white;
}
.point {
  position: relative;
  width: 1rem;
  height: 1rem;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.input-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.input-with-icons {
  flex: 1;
  padding-left: 2rem;
  padding-right: 2rem;
}
.icon-left, .icon-right {
  cursor: pointer;
  position: absolute;
  font-size: 1.5rem;
  color: #777;
  bottom: 1.125rem;
}
.icon-left { left: .5rem; }
.icon-right { right: .5rem; }
.input-container .icon-left,
.input-container .icon-right {
  outline: none;
  user-select: none;
}
.input-container .icon-left:focus,
.input-container .icon-right:focus {
    outline: none;
}
.input-container .icon-left:active,
.input-container .icon-right:active {
    outline: none;
}
.icon-left, .icon-right {
  visibility: visible;
}
.icon-left[style*="hidden"], .icon-right[style*="hidden"] {
  visibility: hidden;
}
