textarea {
  width: 100%;
  padding:0;
  border:0;
  margin: 0;
  outline: 1px solid #777;
  background-color: transparent;
  resize: none;
  border-radius: 40px;
  padding: 0 26px;
  caret-color: #aaa;
}
.main-1 textarea {
  height: 550px;
}
textarea:focus {
  outline-color: #aaa;
}
