<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/font_editor.css">
  <script src="static/lib/imagetracer.js"></script>
  <script src="static/js/font_editor_primary.js"></script>
</head>
<body>
  <canvas id='font-canvas' width='500' height='500' style="max-width: 500px"></canvas>
  <canvas id='scratch-canvas' width='500' height='500' style="max-width: 500px"></canvas>
  <img id='scratch-img' alt='scratch'>
</body>
</html>
