<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/font_tool.css">
  <script src="static/lib/imagetracer.js"></script>
  <script src="static/js/font_tool.js"></script>
</head>
<body>
  <div>
    <canvas id='font-canvas' width='500' height='500'></canvas>
    <canvas id='scratch-canvas' width='500' height='500'></canvas>
    <img id='scratch-img' alt='scratch'>
  </div>
</body>
</html>
