<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/css/font_editor.css">
  <script src="static/js/font_editor_wing.js"></script>
</head>
<body>
  <div class="input-container">
    <span class="icon-left">&#9664;</span>
    <input class="input-with-icons" id="font-glyph-code">
    <span class="icon-right">&#9654;</span>
  </div>
  <div id="selector-container" class="selector-container" style="height: 16rem"></div>
</body>
</html>