<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="static/css/lcars.css">
  <script src="static/lib/htmx.min.js"></script>
  <script src="static/lib/jquery-3-7-0.min.js"></script>
  <script src="static/js/lcars.js"></script>
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  {{ head_contents|safe }}
</head>
<body>
  <div class="wrap-everything">
    <!-- Column 1 -->
    <section id="column-1">
      <div class="lcars-frame">
        <!-- Frame Column 1 -->
        <div class="frame-col-1">
          <div class="frame-col-1-cell-a"></div>
          <div class="frame-col-1-cell-b"></div>
          <div class="frame-col-1-cell-c"></div>
        </div>
        <!-- Frame Column 2 -->
        <div class="frame-col-2"></div>
        <!-- Frame Column 3 -->
        <div class="frame-col-3 display-vertical">
          {% for i in range(15) %}
            <div class="line"></div>
          {% endfor %}
        </div>
        <!-- Frame Column 4 -->
        <div class="frame-col-4"></div>
        <!-- Frame Column 5 -->
        <div class="frame-col-5">
          <div class="frame-col-5-cell-a"></div>
          <div class="frame-col-5-cell-b"></div>
          <div class="frame-col-5-cell-c"></div>
        </div>
      </div>
      <!-- Pillbox 1 -->
      <div class="pillbox">
        <!-- Generate from left_pillbox_list -->
        {% for pill in top_left_pillbox_list %}
          <div class="pill"><a href="{{ pill.url }}">{{ pill.text }}</a></div>
        {% endfor %}
      </div>
      <!-- LCARS List 2 -->
      <div class="lcars-list-2 uppercase">
        <ul>
          {% for item in left_list %}
            <li>{{ item.text }}</li>
          {% endfor %}
        </ul>
      </div>
      <!-- Pillbox 2 -->
      <div class="pillbox">
        {% for pill in bottom_left_pillbox_list %}
          <div class="pill-2"><a href="{{ pill.url }}">{{ pill.text }}</a></div>
        {% endfor %}
      </div>
    </section>
    <!-- Column 2 -->
    <section id="column-2">
      <div class="section-2-list">
        <div class="section-2-buttons">
          {% for button in leftmost_column_list %}
            <a href="{{ button.url }}">{{ button.text }}</a>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- Column 3 -->
    <section id="column-3">
      <!-- Top Menu Wrap -->
      <div class="top-menu wrap">
        <div class="left-frame-top">
          <!-- Panel 1 -->
          <div class="panel-1">
            <div class="panel-1-contents">
              <span class="hop">BRIEF</span>
              <img class="panel-icon" src="static/images/starfleet.svg" alt="">
            </div>
          </div>
          <!-- Panel 2 -->
          <div class="panel-2">
            <div class="panel-2-contents">
              <span class="hop">MENU</span>
              <img class="panel-icon" src="static/images/orbit.svg" alt="">
            </div>
          </div>
        </div>
        <!-- Right Frame Top -->
        <div class="right-frame-top">
          <div class="top-menu-inside">
            <div class="banner">
              {{ headline }}
              <div class="svg-in-text fullscreen-button">
                {{ headline_svg|safe }}
              </div>
              <span class="blink">life</span>
            </div>
            <!-- Data Cascade Button Group -->
            <div class="data-cascade-button-group">
              <div id="cascade-wrapper" class="cascade-wrapper">
                <div id="default" class="data-cascade">
                  {% for i in range(1, 8) %}
                    <div class="row-{{ i }}">
                      {% for j in range(1, 16) %}
                        <div class="dc{{ j }}">{{ (i-1) * 15 + j }}</div>
                      {% endfor %}
                    </div>
                  {% endfor %}
                </div>
              </div>
              <nav>
                {% for button in menu_pillbox_list %}
                  {% if loop.index == 2 %}
                    <div id="blank"></div>
                  {% endif %}
                  {% if loop.index == 4 %}
                    <button id="b-{{ loop.index }}" hx-get="{{ button.url }}" hx-target="#main" hx-swap="innerHTML" class="go-away">{{ button.text }}</button>
                  {% else %}
                    <button id="b-{{ loop.index }}" hx-get="{{ button.url }}" hx-target="#main" hx-swap="innerHTML">{{ button.text }}</button>
                  {% endif %}
                {% endfor %}
              </nav>
            </div>
          </div>
          <div class="brief">{{ brief|safe }}</div>
          <div class="bar-panel first-bar-panel">
            <div class="bar-1"></div>
            <div class="bar-2"></div>
            <div class="bar-3"></div>
            <div class="bar-4"></div>
            <div class="bar-5"></div>
          </div>
        </div>
      </div>
      <!-- Main Frame Wrap -->
      <div id="gap" class="main-frame wrap">
        <!-- Scroll Top -->
        <div class="scroll-top">
          <a href="" id="scroll-top">
            <span class="hop">top</span> ⬆
          </a>
        </div>
        <!-- Left Frame -->
        <div class="left-frame">
          <!-- Panels 3 to 6 -->
          <div class="panel-3">
            <span class="hop">03</span>
            <img class="panel-icon" src="static/images/star-system.svg" alt="">
          </div>
          <div class="panel-4">
            <span class="hop">04</span>
            <img class="panel-icon" src="static/images/starship.svg" alt="">
          </div>
          <div class="panel-5">
            <span class="hop">05</span>
            <img class="panel-icon" src="static/images/starbase.svg" alt="">
          </div>
          <div class="panel-6">
            <span class="hop">06</span>
            <img class="panel-icon" src="static/images/starfleet.svg" alt="">
          </div>
        </div>
        <!-- Right frame -->
        <div class="right-frame">
          <div class="bar-panel">
            <div class="bar-6"></div>
            <div class="bar-7"></div>
            <div class="bar-8"></div>
            <div class="bar-9"></div>
            <div class="bar-10"></div>
          </div>
          <main id="main">
            Welcome
          </main>
        </div>
      </div>
    </section>
  </div>
</body>
</html>
